<div class="background-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-6 d-grid gap-2 col-6 mx-auto text-center">
          <h2>Effettua il login</h2>
          <button routerLink="login" class="btn-custom" type="button">Accedi al tuo account</button>
        </div>
        <div class="col-6 mt-3 d-grid gap-2 col-6 mx-auto text-center">
          <h2>Registrati</h2>
          <button routerLink="registrazione" class="btn-custom" type="button">Crea un nuovo account</button>
        </div>
      </div>
    </div>
  </div>
</div>
